.App {
  text-align: center;
}

.App-header {
  background-color: #323336;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.playingCard {
  height: 100px;
  margin: 3px;
}

.buttonRow {
  background-color: lightgray;
  padding: 1em 1em;
}

.cardTable {
  background-color: darkgreen;
  min-height: 150px;
  padding: 20px
}

.dynamoButton {
  color: white;
  background-color: rgb(64, 90, 68);
  border: none;
}

.dynamoButton:disabled {
  background-color: rgb(106, 138, 110);
}

.dynamoButton:hover {
  background-color: rgb(106, 138, 110);
}

.dynamoButton:active {
  background-color: rgb(106, 138, 110) !important;
}
